{% extends "adminlte/base.html" %}
{% import "adminlte/layout.html" as layout with context %}




{% block content_header -%}
          <h1>
            Dashboard
            <!--<small>Preview page</small>-->
          </h1>
          <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">Dashboard</li>
          </ol>
{%- endblock content_header %}
{% block content -%}
{% block body %}
          <!-- Small boxes (Stat box) -->
          <div class="row">
            <div class="col-md-3 col-sm-6 col-xs-12">
              <div class="info-box">
                <!-- Apply any bg-* class to to the icon to color it -->
                <span class="info-box-icon bg-green"><i class="fa fa-opencart fa-lg"></i></span>
                <div class="info-box-content">
                  <span class="info-box-text">Unordered Paid Items</span>
                  <span class="info-box-number"> {{ boxes['unordered'] }}</span>
                </div><!-- /.info-box-content -->
              </div><!-- /.info-box -->
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
              <div class="info-box">
                <!-- Apply any bg-* class to to the icon to color it -->
                <a href="/killerapp/orders/?sort=7&flt0_0=1&flt1_1=1"><span class="info-box-icon bg-blue"><i class="fa fa-shopping-cart fa-lg"></i></span></a>
                <div class="info-box-content">
                  <span class="info-box-text">Unshipped Orders</span>
                  <span class="info-box-number">{{ boxes['unshipped'] }}</span>
                </div><!-- /.info-box-content -->
              </div><!-- /.info-box -->
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
              <div class="info-box">
                <!-- Apply any bg-* class to to the icon to color it -->
                <span class="info-box-icon bg-yellow"><i class="fa fa-wheelchair fa-lg"></i></span>
                <div class="info-box-content">
                  <span class="info-box-text">Orders Not Shipped in 48 Hours (Late)</span>
                  <span class="info-box-number">{{ boxes['notshippedtwodays'] }}</span>
                </div><!-- /.info-box-content -->
              </div><!-- /.info-box -->
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
              <div class="info-box">
                <!-- Apply any bg-* class to to the icon to color it -->
                <span class="info-box-icon bg-red"><i class="fa fa-hourglass-end fa-lg"></i></span>
                <div class="info-box-content">
                  <span class="info-box-text">Items Ending Next 24 Hours</span>
                  <span class="info-box-number">{{ boxes['ending'] }}</span>
                </div><!-- /.info-box-content -->
              </div><!-- /.info-box -->
            </div>

          </div><!-- /.row -->

          <!-- Small boxes (Stat box) -->
          <div class="row">
<div class="col-md-12">
          <div class="box">
            <div class="box-header with-border">
              <h3 class="box-title">Stats</h3>

              <!--<div class="box-tools pull-right">-->
                <!--<button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>-->
                <!--</button>-->
                <!--<div class="btn-group">-->
                  <!--<button type="button" class="btn btn-box-tool dropdown-toggle" data-toggle="dropdown">-->
                    <!--<i class="fa fa-wrench"></i></button>-->
                  <!--<ul class="dropdown-menu" role="menu">-->
                    <!--<li><a href="#">Action</a></li>-->
                    <!--<li><a href="#">Another action</a></li>-->
                    <!--<li><a href="#">Something else here</a></li>-->
                    <!--<li class="divider"></li>-->
                    <!--<li><a href="#">Separated link</a></li>-->
                  <!--</ul>-->
                <!--</div>-->
                <!--<button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>-->
              <!--</div>-->

            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <div class="row">
                <div class="col-md-8">
                  <p class="text-center">
                    <strong>Daily Total Profit and Quantity Sold</strong>
                  </p>

                  <div class="chart">
                    <!-- Sales Chart Canvas -->
                    <canvas id="salesChart" style="height: 121px; width: 722px;" width="722" height="121"></canvas>
                  </div>
                  <!-- /.chart-responsive -->
                </div>
                <!-- /.col -->
                <!--<div class="col-md-4">-->
                  <!--<p class="text-center">-->
                    <!--<strong>Goal Completion</strong>-->
                  <!--</p>-->

                  <!--<div class="progress-group">-->
                    <!--<span class="progress-text">Add Products to Cart</span>-->
                    <!--<span class="progress-number"><b>160</b>/200</span>-->

                    <!--<div class="progress sm">-->
                      <!--<div class="progress-bar progress-bar-aqua" style="width: 80%"></div>-->
                    <!--</div>-->
                  <!--</div>-->
                  <!--&lt;!&ndash; /.progress-group &ndash;&gt;-->
                  <!--<div class="progress-group">-->
                    <!--<span class="progress-text">Complete Purchase</span>-->
                    <!--<span class="progress-number"><b>310</b>/400</span>-->

                    <!--<div class="progress sm">-->
                      <!--<div class="progress-bar progress-bar-red" style="width: 80%"></div>-->
                    <!--</div>-->
                  <!--</div>-->
                  <!--&lt;!&ndash; /.progress-group &ndash;&gt;-->
                  <!--<div class="progress-group">-->
                    <!--<span class="progress-text">Visit Premium Page</span>-->
                    <!--<span class="progress-number"><b>480</b>/800</span>-->

                    <!--<div class="progress sm">-->
                      <!--<div class="progress-bar progress-bar-green" style="width: 80%"></div>-->
                    <!--</div>-->
                  <!--</div>-->
                  <!--&lt;!&ndash; /.progress-group &ndash;&gt;-->
                  <!--<div class="progress-group">-->
                    <!--<span class="progress-text">Send Inquiries</span>-->
                    <!--<span class="progress-number"><b>250</b>/500</span>-->

                    <!--<div class="progress sm">-->
                      <!--<div class="progress-bar progress-bar-yellow" style="width: 80%"></div>-->
                    <!--</div>-->
                  <!--</div>-->
                  <!--&lt;!&ndash; /.progress-group &ndash;&gt;-->
                <!--</div>-->
                <!-- /.col -->
              </div>
              <!-- /.row -->
            </div>
            <!-- ./box-body -->
            <div class="box-footer">
             <p class="text-center">
                    <strong>Today's Stats</strong>
                  </p>
              <div class="row">
                <div class="col-sm-3 col-xs-6">
                  <div class="description-block border-right">
                    <span class="description-percentage text-blue">${{ chartboxesdata['TotalPaidAvg'] }}</span>
                    <h5 class="description-header">${{ chartboxesdata['TotalPaidMonth'] }}</h5>
                    <span class="description-text">TOTAL REVENUE</span>
                  </div>
                  <!-- /.description-block -->
                </div>
                <!-- /.col -->
                <div class="col-sm-3 col-xs-6">
                  <div class="description-block border-right">
                    <span class="description-percentage text-yellow">${{ chartboxesdata['TotalPurchaseAvg'] }}</span>
                    <h5 class="description-header">${{ chartboxesdata['TotalPurchaseMonth'] }}</h5>
                    <span class="description-text">TOTAL COST</span>
                  </div>
                  <!-- /.description-block -->
                </div>
                <!-- /.col -->
                <div class="col-sm-3 col-xs-6">
                  <div class="description-block border-right">
                    <span class="description-percentage text-green">${{ chartboxesdata['TotalProfitAvg'] }}</span>
                    <h5 class="description-header">${{ chartboxesdata['TotalProfitMonth'] }} </h5>
                    <span class="description-text">TOTAL PROFIT</span>
                  </div>
                  <!-- /.description-block -->
                </div>
                <!-- /.col -->
                <div class="col-sm-3 col-xs-6">
                  <div class="description-block">
                    <span class="description-text text-red">{{ chartboxesdata['TotalShippedWeekShipped']  }}</span>
                    <span class="description-text">/ {{ chartboxesdata['TotalShippedWeekOrdered'] }}</span>
                    <h5 class="description-header">SHIPPED LAST 7 DAYS</h5>
                  </div>
                  <!-- /.description-block -->
                </div>
              </div>
              <!-- /.row -->
            </div>
            <!-- /.box-footer -->
          </div>
          <!-- /.box -->
        </div>

          </div><!-- /.row -->
{% endblock %}

{%- endblock content %}

{% block scripts %}
    {{ super() }}
<script language="javascript">

$(function () {
  'use strict';

  /* ChartJS
   * -------
   * Here we will create a few charts using ChartJS
   */

  //-----------------------
  //- MONTHLY SALES CHART -
  //-----------------------

  // Get context with jQuery - using jQuery's .get() method.
  var salesChartCanvas = $("#salesChart").get(0).getContext("2d");
  // This will get the first returned node in the jQuery collection.
  var salesChart = new Chart(salesChartCanvas);
  var salesChartData = {
    labels: {{ chartlabels|safe }},
    datasets: [
      {
        label: "Daily Profit",
        fillColor: "rgba(60,141,188,0.9)",
        strokeColor: "rgba(60,141,188,0.8)",
        pointColor: "#3b8bba",
        pointStrokeColor: "rgba(60,141,188,1)",
        pointHighlightFill: "#fff",
        pointHighlightStroke: "rgba(60,141,188,1)",
        data: {{ chartdata }}
      },
      {
        label: "Daily Orders",
        fillColor: "rgb(210, 214, 222)",
        strokeColor: "rgb(210, 214, 222)",
        pointColor: "rgb(210, 214, 222)",
        pointStrokeColor: "#c1c7d1",
        pointHighlightFill: "#fff",
        pointHighlightStroke: "rgb(220,220,220)",
        data: {{ chartorderdata }}
      }
    ]
  };

  var salesChartOptions = {
    //Boolean - If we should show the scale at all
    showScale: true,
    //Boolean - Whether grid lines are shown across the chart
    scaleShowGridLines: false,
    //String - Colour of the grid lines
    scaleGridLineColor: "rgba(0,0,0,.05)",
    //Number - Width of the grid lines
    scaleGridLineWidth: 1,
    //Boolean - Whether to show horizontal lines (except X axis)
    scaleShowHorizontalLines: true,
    //Boolean - Whether to show vertical lines (except Y axis)
    scaleShowVerticalLines: true,
    //Boolean - Whether the line is curved between points
    bezierCurve: true,
    //Number - Tension of the bezier curve between points
    bezierCurveTension: 0.3,
    //Boolean - Whether to show a dot for each point
    pointDot: false,
    //Number - Radius of each point dot in pixels
    pointDotRadius: 4,
    //Number - Pixel width of point dot stroke
    pointDotStrokeWidth: 1,
    //Number - amount extra to add to the radius to cater for hit detection outside the drawn point
    pointHitDetectionRadius: 20,
    //Boolean - Whether to show a stroke for datasets
    datasetStroke: true,
    //Number - Pixel width of dataset stroke
    datasetStrokeWidth: 2,
    //Boolean - Whether to fill the dataset with a color
    datasetFill: true,
    //String - A legend template
    //Boolean - whether to maintain the starting aspect ratio or not when responsive, if set to false, will take up entire container
    maintainAspectRatio: true,
    //Boolean - whether to make the chart responsive to window resizing
    responsive: true
  };

  //Create the line chart
  salesChart.Line(salesChartData, salesChartOptions);

  //---------------------------
  //- END MONTHLY SALES CHART -
  //---------------------------

});

</script>
{% endblock %}
